:root{
    --maincolor: skyblue;
}

* {
    margin: 0;
    padding: 0;
}

input[type="text"],input[type="password"]{
    outline:none;
    border: 1px solid #8f8f8f;
}

input[type="text"]:focus, input[type="password"]:focus{
    border: 1px solid var(--maincolor);
    color:var(--maincolor);
}
