.login-frame {
    width: 100%;
    height: 100%;
    background-image: url(../image/login-bg.jpg);
    background-size: 100vw 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.login-frame-red {
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 0,0 , 0.5); */
    position: absolute;
    top: 0;
    left: 0;
}

.login-frame .login-box {
    width: 23.4vw;
    height: 37.2vh;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 15%;
    right: 25%;
    display: flex;
    flex-direction: column;
    text-align: start;
    border-top: var(--maincolor) solid 0.5vw;
    transform: skewX(5deg);

}

.login-frame .login-box .login-title {
    width: 100%;
    height: 20%;
    line-height: 4vh;
    color: var(--maincolor);
    padding-left: 1.7vw;
    padding-top: 1vw;
}

.login-frame .login-box .login-title p:first-child {
    font-size: 1.4vw;
}

.login-frame .login-box .login-title p:last-child {
    font-size: 0.9vw;
}

.login-frame .login-box .login-input {
    width: 100%;
    height: 35%;
    box-sizing: border-box;
    margin-left: 3vw;
    margin-top: 4vh;
}

#username,
#password {
    width: 74%;
    height: 4vh;
    font-size: 0.9vw;
    margin-bottom: 2vh;
    padding: 2px;
}

.login-frame .login-box .login-button {
    width: 100%;
    height: 20%;
    /* line-height: 7vh; */
    box-sizing: border-box;
    text-align: center;
}

#login-submit {
    color: #fff;
    background-color: var(--maincolor);
    width: 74%;
    height: 60%;
    border: none;
}

#login-submit:hover {
    cursor: pointer;
}